.header {
    height: 60px;
    float: left;
    width: 100%;
    background-color: #ccc;

    .logo {
        width: 20%;
        float: left;

        h1 {
            line-height: 60px;
        }
    }

    .contact-info {
        float: right;
        width: 75%;
        text-align: right;
    }

    .clearfix {
        clear: both;
    }
}

